<div id="right_column_flip" class="right_column_flip">
<h2>Pages d'aide</h2>
<ul class="no_bullets">
  <li><%= link_to_unless_current "Introduction", help_about_path %></li>
  <li><%= link_to_unless_current "Comment demander et faire appel", help_requesting_path %></li>
  <li><%= link_to_unless_current "Protection de la vie privée", help_privacy_path %></li>
<!--  <li><%= link_to_unless_current "FOI officers", help_officers_path %></li>
  <li><%= link_to_unless_current "About the software", help_alaveteli_path %></li>
  <li><%= link_to_unless_current "Credits", help_credits_path %></li>
  -->
  <li><%= link_to_unless_current "About the software", help_alaveteli_path %></li>
  <li><%= link_to_unless_current "Programmes API", help_api_path %></li>
  <li><%= link_to_unless_current "Recherche Avancées", advanced_search_path %></li>
</ul>

<h2 id="contact" class="contact">Contactez nous</h2>
<p> Si votre question n'a pas de réponses ici, ou vous voulez avoir des informations suplémataires concernant le site,
 <a href="<%= help_contact_path %>">contactez nous</a>.
</p>
</div>