<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">Introduction à <%= site_name %> <a href="#introduction">#</a></h1>
  <dl>

    <dt id="purpose">A propos de <%= site_name %> <a href="#purpose">#</a> </dt>
    <dd><%= site_name %> n’est pas un site official du Gouvernement congolais. 
	C’est un site construit avec l’appui d’OSISA par le Collectif 24, une plate 
	forme des organisations de la société civile congolaise qui milite pour la transparence de l’action publique,
	la participation citoyenne à travers la promotion et la protection du droit d’accès à l’information et
	la liberté d’expression. Le site est construit pour aider toute personne comme vous pour avoir les informations 
	détenues par les autorités congolaises au niveau local, provincial et national. Plus question de faire des 
	déplacements pour avoir accès à l’information publique.     
	
	    </dd><br>
	<dd>Le Collectif 24, par ce site, met toutes les autorités entre vos mains, dans votre bureau, … C’est facile de 
	faire le contrôle citoyen à travers un clic.  Ce site rend aussi les autorités congolaises à l’aise dans la
	mesure où il leurs permet de répondre à des questions des citoyens, à être plus redevable. Toute personne est
	capable de voir dans le site la réponse de l’autorité à une question donnée. Ce qui évite la diffamation. 
	Ce site facilite les principes de participation et d’exclusivité. Participation : le site donne l’occasion
	aux citoyens, à la société civile et aux entreprises de participer au processus décisionnel du gouvernement à tous 
	les niveaux. Cette approche rehausse la confiance à l’égard du gouvernement et donne lieu à de meilleurs résultats.
	Inclusion : le site offre aux citoyens sous-représentés, peu importe leur sexe, leur race ou leur orientation sexuelle,
	le moyen de s’engager activement auprès des gouvernements en posant des questions sans qu’il soit identifier. 
	Il découle de cette approche des gouvernements plus équitables. Ce qui permet aux citoyens de comprendre 
	également l’impact de l’action publique sur leur quotidien. Cela oblige les autorités à rendre compte
	des résultats qui font une différence.

    </dd>

    <dt id="premise">Comment fonctionne ce site? <a href="#premise">#</a> </dt>
    <dd>C’est simple : juste faire une demande à l’autorité congolaise voulue via ce site web à l’onglet faire votre demande.
	Vous recevez un lien dans votre boite mail (boite de réception ou spam), cliquer sur le lien en continuer. Votre mail 
	est envoyé automatiquement dans la boite de l’institution publique concernée. Si le service est programmé dans le site,
	vous recevrez une réponse dans votre boite mail via le site web. N’ayant pas encore la loi d’accès à l’information, le
	délai de réponse n’est pas encore fixé. Si l’Institution dont vous avez besoin de faire une demande n’est pas dans le
	site, juste contacter l’administrateur du site <%= site_name %> ou le collectif 24 dans collectif24.info@gmail.com.
	Une fois la réponse est dans votre boite, prière de répondre à la question du site pour savoir si vous êtes satisfait 
	de la réponse ou pas. Partant du principe du droit d’accès à l’information selon lequel, « toute information rendue 
	publique par l’autorité relève du domaine public », la réponse à votre question sera publique dans le site afin de 
	permettre à d’autres personnes qui sont en besoin de la même information de ne plus formuler la même demande.

    </dd>

    <dt id="whybother_me">Qui peut utiliser <%= site_name %> ? <a href="#whybother_me">#</a> </dt>
    <dd>Le site est conçu plus pour aider les populations congolaises de l’intérieur pour avoir les informations 
	sur ces que les autorités font ou sur les informations qui ne sont pas revêtues du sceau de confidentialité
	lui être transmis sur demande d’une personne morale ou physique. Cependant, conformément à l’article 24 de la 
	Constitution de la République Démocratique du Congo, toute personne a droit à l’information.<br><br> Ceci dit, toute
	personne, partout au monde, a le droit d’utiliser ce site web pour demander l’information dont elle a besoin. L’autorité
	a l’obligation de la répondre en veillant à certaines restrictions portant protection des données personnelles, la 
	sécurité nationale, secrets diplomatiques, secret défense, … (voir loi d’accès à l’information sous examen au Parlement)
	<br>
	Eviter les “on dit”, demande l’information à la source.

    </dd>

    <dt id="whybother_them">Pourquoi les autorités publiques doivent se donner la peine de répondre ?<a href="#whybother_them">#</a> </dt>
    <dd>Même attendant le vote et la promulgation de la loi d’accès à l’information, au regard des instruments nationaux,
	régionaux et internationaux promulgués, signés et ratifiés par la RDC, tenant compte des principes du droit d’accès à 
	l’information, l’autorité publique est obligé de vous répondre en vous donnant les informations dont vous avez besoin.
	En cas de refus, elle doit le justifier. Si elle n’a pas d’information dont vous avez besoin, elle peut vous orienter
	vers l’Institution susceptible d’en avoir.
    </dd>

    <dt id="reporting">Que faire si la réponse n’est pas satisfaisante ?<a href="#reporting">#</a></dt>
    <dd>
      <p>
        La demande portant sur les informations frappées par le sceau de confidentialité (comme secret défense, secret 
		diplomatique, …), les informations sur les données personnelles,… ne sont pas communicable.
      </p>

      <p>
        Si vous pensez que la réponse n’est pas satisfaisante, vous pouvez le signaler à l’intention du Collectif 24 à 
		travers le site grâce à un formulaire que l’administrateur du site vous envoie automatiquement après que l’autorité
		vous ait répondu dans votre adresse mail. 
      </p>
    </dd>

    <dt id="reporting_unavailable">Que faire si je ne connais pas exactement l’Institution qui posséderait l’information dont j’ai besoin ? <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>Il est difficile de mettre dans un site toutes les institutions publiques en une fois. Ce qu’il faut faire :
•	Chercher dans le site si quelqu’un n’a jamais formulé une telle demande ;
•	Liser la réponse lui réservée ;
•	Si la réponse n’est pas satisfaisante, vous pouvez adresser une nouvelle demande à la même Institution ;
•	Si vous ne trouver pas l’institution, prière de contacter le Collectif 24 afin de chercher l’institution ;
•	Si vous avez l’adresse mail de l’Institution, prière de contacter le Collectif 2’ en donnant l’adresse mail de 
    l’Institution pour que l’administrateur du site l’ajoute ;
•	Si vous voulez qu’on ajoute d’autres Institutions publiques dans le site, n’hésiter pas de nous contacter en nous
    donnant les noms de ses Institutions et leurs adresses mails.

      </p>

    </dd>

    

    <dt id="updates">How can I keep up with news about <%= site_name %>?<a href="#updates">#</a> </dt>
    <dd>We have a <a href="<%= blog_path %>">blog</a><% if !MySociety::Config.get('TWITTER_USERNAME', '').empty? %> and a <a href=https://twitter.com/<%= MySociety::Config.get('TWITTER_USERNAME', '') %>>twitter feed</a><% end %>.
    </dd>

  </dl>

  <p><strong>Next</strong>, read about <a href="<%= help_requesting_path %>">making requests</a> --&gt;</p>

  <div id="hash_link_padding"></div>
</div>
