<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">Introduction à <%= site_name %> <a href="#introduction">#</a></h1>
  <dl>

    <dt id="purpose">A propos de <%= site_name %> <a href="#purpose">#</a> </dt>
    <dd><%= site_name %> n’est pas un site official du Gouvernement congolais. 
	C’est un site construit avec l’appui d’OSISA par le Collectif 24, une plate 
	forme des organisations de la société civile congolaise qui milite pour la transparence de l’action publique,
	la participation citoyenne à travers la promotion et la protection du droit d’accès à l’information et
	la liberté d’expression. Le site est construit pour aider toute personne comme vous pour avoir les informations 
	détenues par les autorités congolaises au niveau local, provincial et national. Plus question de faire des 
	déplacements pour avoir accès à l’information publique.     
	
	    </dd><br>
	<dd>Le Collectif 24, par ce site, met toutes les autorités entre vos mains, dans votre bureau, … C’est facile de 
	faire le contrôle citoyen à travers un clic.  Ce site rend aussi les autorités congolaises à l’aise dans la
	mesure où il leurs permet de répondre à des questions des citoyens, à être plus redevable. Toute personne est
	capable de voir dans le site la réponse de l’autorité à une question donnée. Ce qui évite la diffamation. 
	Ce site facilite les principes de participation et d’exclusivité. Participation : le site donne l’occasion
	aux citoyens, à la société civile et aux entreprises de participer au processus décisionnel du gouvernement à tous 
	les niveaux. Cette approche rehausse la confiance à l’égard du gouvernement et donne lieu à de meilleurs résultats.
	Inclusion : le site offre aux citoyens sous-représentés, peu importe leur sexe, leur race ou leur orientation sexuelle,
	le moyen de s’engager activement auprès des gouvernements en posant des questions sans qu’il soit identifier. 
	Il découle de cette approche des gouvernements plus équitables. Ce qui permet aux citoyens de comprendre 
	également l’impact de l’action publique sur leur quotidien. Cela oblige les autorités à rendre compte
	des résultats qui font une différence.

    </dd>

    <dt id="premise">Comment fonctionne ce site? <a href="#premise">#</a> </dt>
    <dd>C’est simple : juste faire une demande à l’autorité congolaise voulue via ce site web à l’onglet faire votre demande.
	Vous recevez un lien dans votre boite mail (boite de réception ou spam), cliquer sur le lien en continuer. Votre mail 
	est envoyé automatiquement dans la boite de l’institution publique concernée. Si le service est programmé dans le site,
	vous recevrez une réponse dans votre boite mail via le site web. N’ayant pas encore la loi d’accès à l’information, le
	délai de réponse n’est pas encore fixé. Si l’Institution dont vous avez besoin de faire une demande n’est pas dans le
	site, juste contacter l’administrateur du site <%= site_name %> ou le collectif 24 dans collectif24.info@gmail.com.
	Une fois la réponse est dans votre boite, prière de répondre à la question du site pour savoir si vous êtes satisfait 
	de la réponse ou pas. Partant du principe du droit d’accès à l’information selon lequel, « toute information rendue 
	publique par l’autorité relève du domaine public », la réponse à votre question sera publique dans le site afin de 
	permettre à d’autres personnes qui sont en besoin de la même information de ne plus formuler la même demande.

    </dd>

    <dt id="whybother_me">Qui peut utiliser <%= site_name %> ? <a href="#whybother_me">#</a> </dt>
    <dd>Le site est conçu plus pour aider les populations congolaises de l’intérieur pour avoir les informations 
	sur ces que les autorités font ou sur les informations qui ne sont pas revêtues du sceau de confidentialité
	lui être transmis sur demande d’une personne morale ou physique. Cependant, conformément à l’article 24 de la 
	Constitution de la République Démocratique du Congo, toute personne a droit à l’information.<br><br> Ceci dit, toute
	personne, partout au monde, a le droit d’utiliser ce site web pour demander l’information dont elle a besoin. L’autorité
	a l’obligation de la répondre en veillant à certaines restrictions portant protection des données personnelles, la 
	sécurité nationale, secrets diplomatiques, secret défense, … (voir loi d’accès à l’information sous examen au Parlement)
	<br>
	Eviter les “on dit”, demande l’information à la source.

    </dd>

    <dt id="whybother_them">Why would the public authority bother to reply? <a href="#whybother_them">#</a> </dt>
    <dd>Under Freedom of Information (FOI) law, they have to respond. The response
      will either contain the information you want, or give a valid legal reason why
      it must be kept confidential.
    </dd>

    <dt id="reporting">What if I see a request I feel to be inappropriate? <a href="#reporting">#</a></dt>
    <dd>
      <p>
        Requests for personal information and vexatious requests are not considered valid for FOI purposes (read more).
      </p>

      <p>
        If you believe a request is not suitable, you can report it for attention by the site administrators.
      </p>
    </dd>

    <dt id="reporting_unavailable">Why won't it let me report some requests? <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>
        If a request has already been reported to the site administrators, you
        can't report it a second time - this is to prevent the administrators
        being notified multiple times about the same issue before they've had
        a chance to conduct a review.
      </p>

      <p>
        Where a request has been previously reported but an administrator has
        chosen not to hide it from public view, you can use the form in the
        sidebar of the request page to contact the administrators if you still
        think it should be hidden.
      </p>
    </dd>

    <dt id="who">Who makes <%= site_name %> ? <a href="#who">#</a> </dt>
    <dd><%= site_name %> runs on <a href="http://alaveteli.org">Alaveteli</a>, which was created and run by <a href="http://www.mysociety.org">mySociety</a>,
      and was initially <a href="http://www.mysociety.org/2006/12/06/funding-for-freedom-of-information/">funded by the JRSST Charitable Trust</a>. mySociety is a project of the
      registered charity <a href="http://www.ukcod.org.uk/UK_Citizens_Online_Democracy">UK Citizens Online Democracy</a>.
      If you like what we're doing, then you can
      <a href="https://www.mysociety.org/donate/">make a donation</a>.
    </dd>

    <dt id="updates">How can I keep up with news about <%= site_name %>?<a href="#updates">#</a> </dt>
    <dd>We have a <a href="<%= blog_path %>">blog</a><% if !MySociety::Config.get('TWITTER_USERNAME', '').empty? %> and a <a href=https://twitter.com/<%= MySociety::Config.get('TWITTER_USERNAME', '') %>>twitter feed</a><% end %>.
    </dd>

  </dl>

  <p><strong>Next</strong>, read about <a href="<%= help_requesting_path %>">making requests</a> --&gt;</p>

  <div id="hash_link_padding"></div>
</div>
