<% @title = "A propos de notre API" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <dl>
    <dt>Introduction</dt>
    <dd>
      <p>Cette page explique comment les programmeurs peuvent faire en sorte que d'autres sites Web et logiciels
	  interagissent avec <%= site_name %> via une "API".
      </p>

      <p> <%= site_name %> ne dispose pas encore d'une API complète, mais nous ajoutons progressivement de nombreux
	  éléments dont l'utilisation est similaire à celle d'une API, tels qu'ils sont demandés. 
      </p>
    </dd>

    <dt>Liaison à de nouvelles demandes </dt>
    <dd>
      <p> Notre fonctionnalité dans le Site est uniquement Pour encourager vos utilisateurs à créer des liens vers 
	  une autorité publique particulière, utilisez des liens de la forme <%= link_to new_request_to_body_path(:url_name => "liverpool_city_council") , new_request_to_body_path(:url_name => "liverpool_city_council") %>.
      Ce sont les paramètres que vous pouvez ajouter à ces URL, soit dans l'URL, soit à partir d'un formulaire.
      </p>
        <ul>
          <li> <strong>title</strong> - résumé par défaut de la nouvelle demande.</li>
          <li> <strong>default_letter</strong> - texte par défaut du corps de la lettre. La salutation (Cher ...) 
		  et la signature (Vôtre ...) sont enroulées autour de cela. </li>
          <li> <strong>body</strong> - au lieu de default_letter, le texte entier par défaut de la demande est défini 
		  pour vous permettre de personnaliser la salutation et la signature.</li>
          <li> <strong>tags</strong> - liste de tags, séparés par des espaces, pour que vous puissiez rechercher et 
		  relier toutes les demandes faites ultérieurement, par exemple. openlylocal depenser_id: 12345. 
		  Le: indique qu'il s'agit d'une machine tag. Les valeurs des balises machine peuvent également inclure
		  des deux-points, utiles pour les URI.
        </ul>
    </dd>

    <dt>Flux RSS (actualité, Atom) </dt>
    <dd>
      <p>Sur la plupart des pages, des flux Atom répertorient les demandes d'accès à l'information que vous pouvez 
	  utiliser pour obtenir les mises à jour et les liens au format XML. Recherchez l'URL du flux Atom de l'une des
	  manières suivantes:
      </p>
        <ul>
          <li>Recherchez les liens de flux RSS. <%= image_tag "feed-16.png", :alt => "RSS icon" %> </li>
          <li>Examinez la balise  <code>&lt;link rel="alternate" type="application/atom+xml"&gt;</code> dans 
		  l'en-tête du code HTML. </li>
          <li> Ajouter <code>/feed</code> au début d'une autre URL.</li>
        </ul>

        <p>En particulier, même les requêtes de recherche compliquées ont des flux Atom. Vous pouvez faire toutes 
		sortes de choses avec eux, telles que la requête par autorité, par type de fichier, par plage de dates ou 
		par statut. Voir les astuces de recherche avancée pour plus de détails.
        </p>
    </dd>

    <dt>Données structurées JSON</dt>
    <dd>
      <p>De nombreuses pages ont des versions JSON, qui vous permettent de télécharger des informations sur les 
	  objets dans un formulaire structuré. Trouvez-les par:
      </p>
      <ul>
        <li>Ajout de  <code>.json</code> à la fin de l'URL. </li>
        <li>Recherchez la balise <code>&lt;link rel="alternate" type="application/json"&gt;</code> 
		dans l'en-tête du code HTML. </li>
      </ul>

      <p>Les demandes, les utilisateurs et les autorités ont tous des versions JSON contenant des informations de
	  base à leur sujet. Chaque flux Atom a un équivalent JSON, contenant des informations sur la liste des 
	  événements dans le flux.
      </p>
    </dd>

    <dt>Tableur de toutes les autorités</dt>
    <dd>
      <p>
        AUn fichier tableur répertoriant tous les utilisateurs de <%= site_name %> est disponible: 
        <%= link_to "all-authorities.csv", all_public_bodies_csv_path %>
      </p>

    </dd>


    <dt> 5. 5. Écrire une api </dt>
    <dd>
      <p>
	  
	  L'API d'écriture est conçue pour être utilisée par les autorités pour créer leurs propres demandes
	  dans le système. Le logiciel <a href="https://github.com/mysociety">FOI Register de mySociety </a>
	  utilise actuellement l'API pour prendre en charge l'utilisation d'Alaveteli en tant que journal de divulgation
	  pour toutes les activités FOI dans un organisme public donné. Plus d'informations techniques sur l'API
	  d'écriture sont disponibles sur le 
	  <a href="https://github.com/mysociety/alaveteli/wiki/API#write-api">wiki d'Alaveteli.</a>
	  
      </p>
    </dd>
  </dl>

  <p>
  Veuillez <a href="<%= help_contact_path %>">nous contacter </a> si vous avez besoin d'une fonctionnalité d'API qui
  n'existe pas encore. C'est vraiment   un travail en cours, et nous ajoutons des choses lorsque les gens nous le 
  demandent.
  </p>

  <div id="hash_link_padding"></div>
</div>