<% @title = "Contactez nous" %>

<%= foi_error_messages_for :contact %>

<h1><%= @title %></h1>

<div id="contact_preamble" class="contact_preamble">

  <% if !flash[:notice] %>
    <h2>Contacter une autorité pour obtenir des informations officielles</h2>
    <ul>
      <li><a href="<%= new_request_path %>">Cliquez ici</a> pour faire une demande publique d'informations aux autorités publiques.</li>

      <li>
        Demander des informations privées sur vous-même? Veuillez lire 
        <a href="<%= help_requesting_path(:anchor => 'data_protection') %>">notre page d'aide.</a>.
      </li>
    </ul>

  <% end %>

  <h2>Contacter l'équipe de <%= site_name %> </h2>
  <% if !flash[:notice] %>
    <ul>
      <li>
	  Veuillez lire <a href="<%= help_about_path %>">la page d’aide</a> en premier, car elle pourrait répondre à votre question plus rapidement.
      </li>

      <li>Nous aimerions savoir comment vous avez découvert l'utilisation de ce site. Remplissez ce formulaire ou envoyez un courrier électronique à <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a>
      </li>

      <li> Nous sommes un <strong>organisme de bienfaisance </strong>et ne faisons pas partie du gouvernement. </li>
    </ul>
  <% end %>
</div>

<%= form_for :contact do |f| %>

  <% if not @user %>
    <p>
      <label class="form_label" for="contact_name">Votre Nom:</label>
      <%= f.text_field :name, :size => 20 %>
      (ou <%= link_to "Inscrivez-vous", signin_path(:r => request.fullpath) %>)
    </p>

    <p>
      <label class="form_label" for="contact_email">Votre email:</label>
      <%= f.text_field :email, :size => 20 %>
    </p>
  <% end %>

  <p>
    <label class="form_label" for="contact_subject">Sujet:</label>
    <%= f.text_field :subject, :size => 50 %>
  </p>

  <p>
    <label class="form_label" for="contact_message">Votre Message:</label>
    <%= f.text_area :message, :rows => 10, :cols => 60 %>
  </p>

  <p style="display:none;">
    <%= f.label :comment, 'Do not fill in this field' %>
    <%= f.text_field :comment %>
  </p>

  <% if !@last_request.nil? %>
    <p>
      <label class="form_label" for="contact_message">Ajouter ce lien à la demande :</label>
      <%=request_link(@last_request) %>
      <%= submit_tag "Supprimer", :name => 'remove' %>
    </p>
  <% end %>
  <% if !@last_body.nil? %>
    <p>
      <label class="form_label" for="contact_message">Ajouter ce lien à la demande de l'autorités :</label>
      <%=public_body_link(@last_body) %>
      <%= submit_tag "Supprimer", :name => 'remove' %>
    </p>
  <% end %>

  <p class="form_note">
  Nous ne pouvons que vous aider avec <strong>des problèmes techniques</strong> ou des questions concernant la liberté de l'information. </p>

  <div class="form_button">
    <%= hidden_field_tag(:submitted_contact_form, 1) %>
    <%= submit_tag "Envoyez votre Message", :data => { :disable_with => "Envoi en cours..." } %>
    &lt;-- Nous gérons ce site, pas le gouvernement!
  </div>

<% end %>
