<% @title = "Protection de la vie privée (CONFIDENTIALITE)" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>
  <dl>
    <dt >BIENVENUE SUR <%= site_name %> !</dt>

    <dd>
	<p>
	Sur <%= site_name %>, il est important de savoir que le nom de la personne  ou organisation demanderesse d’information
	ainsi que le corps de la requête sont visibles auprès du grand public. C’est ainsi qu’il est déconseillé de mettre 
	dans le corps de la requête les autres renseignements personnels comme : numéro de téléphone, adresse de résidence,
	photos, détails sur la famille, … Surtout que vous n’avez pas besoin de donner des raisons ou trop de détaille sur 
	vous pour que le détenteur vous donne l’information dont vous avez besoin.

    </p>
    <p>
	Certaines personnes dans d’autres pays ont tendance d’utiliser le pseudo nom, ce que nous ne conseillons pas parce 
	qu’on cas de recours hiérarchique et surtout juridictionnelle, vous serez obliger de décliner votre identité pour 
	prouver réellement que vous avez formulé une demande et que l’autorité vous l’a refusé. <%= site_name %> étant une 
	preuve et ne prenant que le nom que vous avez utilisé, s’il est différent de votre identité, vous n’aurez pas gain de
	cause.
	
	</p>
    </dd>
  
  
    <dt id="email_address">Qui peut voir mon adresse email ? <a href="#email_address">#</a> </dt>

    <dd>
	<p>Votre adresse e-mail n’est pas visible dans le site. Seul l’administrateur du site qui en possède
	dans son serveur et ne peut jamais le rendre public sans votre accord. <%= site_name %> a son serveur
	à Californie aux USA qui est contraint par la loi sur la protection des données personnelles. Votre 
	adresse e-mail n’est même pas transmise à l’institution qui ne voie que @<%= site_name %> avec votre
	demande et dois vous répondre en cliquant sur un lien qui n’est pas votre adresse e-mail. Parce que vous
	avez utilisé le site pour formuler votre demande, vous aurez la réponse dans votre boite e-mail via aussi
	le site. Personne ne peut intercepter votre adresse e-mail. 
    </p>
    <p>
	Ceci étant, <%= site_name %> étant la seule interface entre vous et l’autorité, se réserve le droit de
	poursuivre judiciairement tout utilisateur qui ne demanderait pas l’information, mais profiterait de la
	plate forme, derrière son anonymat, pour injurieux l’autorité. En cas de dérapage, si l’autorité se plaint
	auprès de la Justice, sur demande de celle-ci, <%= site_name %> peut donner votre adresse mail au procureur
	qui lui présente d’avance les preuves infractionnelles de l’utilisateur du site. Votre adresse mail ne peut
	jamais être utilisée automatiquement, même pas pour un newsletter quelconque. Pour recevoir nos newsletters,
	vous devez vous inscrire vous-même en acceptant nos conditions.

	</p>
    </dd>

    <dt id="nasty_spam">Allez-vous m’envoyer les mails indésirables et les spams dans mon adresse mail ?  <a href="#nasty_spam">#</a> </dt>
    <dd>
	Non. Dès que vous vous inscrivez à <%= site_name %>, nous vous enverrons seulement les courriels relatifs
	à une demande que vous faites, un message d’alerte que vous vous êtes engagé, ou pour d’autres raisons,
	que vous autorisez spécifiquement. Vous n’aurez pas d’autres messages sans votre demande. Votre adresse mail
	ne sera jamais délivré ni vendu à un tiers, sauf si nous sommes obligés par la loi, ou si vous nous demandez 
	de le faire.
    </dd>

    <dt id="public_request">En cas de demandes versatiles et abusives ?  <a href="#public_request">#</a> </dt>

    <dd>
      <p>
	  Il est important de savoir que <%= site_name %> ne met aucune demande en information. Nous jouons
	  seulement le rôle de poste qui a la responsabilité de transmettre seulement la demande comme 
	  correspondance de l’utilisateur à l’autorité publique. 
	  
      </p>
      <p>
	  Le contenu de la demande n’engage que le demandeur lui-même et non <%= site_name %> ni Collectif 24 
	  et ses partenaires.
      </p>
    </dd>

    <dt id="real_name">La réponse à mon ancienne demande a disparue de <%= site_name %> !  <a href="#real_name">#</a> </dt>

    <dd>
      <p>
		Après six mois d’inactivité, <%= site_name %> limite qui peut répondre à une demande pour empêcher les
		spams. À ce moment-là, la réponse à la demande peut seulement être réservée à l’autorité. Après douze 
		mois, aucune personne n’aura accès à cette demande. Si vous avez besoin d’une vieille demande soie 
		rouverte, contactez-nous. 
	  </p>
    </dd>

    <dt id="full_address">Pouvez-vous supprimer mes demandes ou modifier mon nom ? <a href="#full_address">#</a> </dt>

    <dd>
      <p><%= site_name %> est une archive permanente et publique d’accès aux demandes d’information soumises 
	  aux autorités congolaises. Les demandes qui y sont faites sont d’intérêt public et doivent demeurer 
	  publique. Nous ne pouvons rien changer.

      </p>
    </dd>

    <dt id="postal_answer">Si l’autorité demande mon numéro de telephone ou adresse pour discuter ?<a href="#postal_answer">#</a> </dt>

    <dd>
      <p>
	  En réponse à votre requête, si l’autorité demande votre numéro de téléphone ou adresse mail ou physique,
	  il le fera par le site, mais ne lui répondre à travers le site. Contacter nous et nous vous mettrons
	  en contact in box, pour continuer les échanges. Soit l’administrateur qui a vos adresse mail, devra
	  vous faire in box un mail de mise en lien.
	  </p>

      <p>
	  Mais ce que nous encourageons, c’est que vous puissiez lui dire, j’ai besoin de recevoir l’information 
	  en ligne. Là, vous aiderez aussi les autres à avoir accès à cette information. Si c’est un document qui
	  n’est pas électronique, prière d’insister que l’autorité numérise le document et vous l’envoie en ligne
	  via <%= site_name %>

	  </p>
    </dd>

    <dt id="delete_requests"> Quelle est votre politique de protection des documents (policy on copyright)? <a href="#delete_requests">#</a> </dt>

    <dd>

      <p>
	  La Constitution de la République Démocratique du Congo reconnait à toute personne ce droit à l’information
	  (Article 24). Par ce fait au regard même de l’article 19 de la Déclaration Universelle des Droits de 
	  l’Hommes, n’importe qui partout au monde a droit d’accéder aux documents qui ne sont pas frappés par le 
	  sceau de confidentialité et qui sont publiés par le détenteur dans ce site.
      </p>

      <p>
	  Par ailleurs, si quelqu’un pense que son document est protégé et l’utilisation requiert les frais à payer,
	  il n’a qu’à nous contacter. Toutefois, la responsabilité revient à l’autorité qui l’a rendu publique
      </p>
    </dd>

    <dt id="takedown">Ma demande est dans <%= site_name %> mais je n’ai jamais eu la réponse dans mon email ! <a href="#takedown">#</a> </dt>

    <dd>

      <p>
	  Si la demande est dans le site, c’est que votre requête est déjà envoyée à l’autorité. Aucune
	  demande non aboutie ne peut figurer dans le site. 
	  </p>

      <p>
	  Nous vous demandons dans ce cas de mieux vérifier votre adresse mail, voir même dan les spam s’il n’y a
	  pas un message venant de <%= site_name %>. Ouvrez le message et cliquez sur le lien. Ne chercher pas 
	  l’adresse mail de l’autorité parce que vous ne le verrez jamais pour des raisons de confidentialité.
	  </p>

      <p>
	  Si vous ne voyez toujours pas, prière de nous contacter pour nous permettre de vérifier si l’adresse
	  de l’autorité et la meilleure ou pas.
	  </p>

    </dd>
<dt id="delete_reque">Comment répondre à une demande ?  <a href="#delete_reque">#</a> </dt>

    <dd>

      <p>
	  Juste répondre sur le mail en cliquant sur le lien, voilà vous êtes dans la boite de rédaction, écrivez
	  comme tout mail, attaché le document, et envoyer. Directement la réponse est transmise dans l’adresse
	  mail du demandeur et dans le site.
      </p>
    </dd>
	
	<dt id="delete_requ"> Est-il possible de transmettre un document qui pèse par mail ?<a href="#delete_requ">#</a> </dt>

    <dd>

      <p>
	  Comme tout mail, vous allez la possibilité de répondre directement à travers le site y compris attacher
	  les documents. Seulement que votre document ne puisse pas dépasser 2Mo. Dans ce cas, contactez nous 
	  pour une aide en ligne.
      </p>
    </dd>

  </dl>



    <div id="hash_link_padding"></div>
</div>