<% @title = "Comment demander et faire Appel" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
  <dl>
 <p> 
  C’est simple : le Collectif 24 a mis en place un formulaire de demande en information. Ceci est facile pour les 
  Institutions proches du demandeur et exige la présence physique du requérant devant le préposé en information. 
  A travers <%= site_name %> vous n’avez pas besoin de se déplacer.
Tout Citoyen congolais et les résidents ont le droit, protégé par les Instruments internationaux, régionaux et nationaux 
relatifs au droit d’accès à l’information en RDC de demander à toutes les institutions publiques au niveau locale, 
provinciale et nationale ainsi que les institutions privées d’utilité publiques pour les documents et informations en leur
 possession sans aucune justification.
 </p>
<p>En rapport avec la procédure, le délai et les recours, la loi sous examen l’évoque. Ces dispositions seront mises en ligne si
la loi est votée et promulguée.  
Organisations non gouvernementales, les entreprises et les autres « personnes morales » enregistrés en RDC ont également les
 mêmes droits que les personnes de demander des documents.
 <ul>
   <li>	<b>envoyer une demande :</b> C’est très simple : vous trouverez l’institution dans le site <%= site_name %> auquel vous souhaitez soumettre 
   une demande d’information, vous écrivez votre message, pré visualisez, appuyez sur « envoyer » et votre demande est automatiquement
   envoyée à l’institution et publié sur <%= site_name %>.</li>
	<li><b>Les institutions détentrices d’information</b> livrent l’information requise endéans 08 jours. Mais si la requête porte sur une donnée
	jugée nécessaire pour la protection de la vie et de la liberté d’une personne, une réponse doit être donnée endéans 24 heures de la
	réception de la requête. </li>
	<li><b>attendre la réponse : </b>lorsque le détenteur d’information répond, le message est automatiquement publié sur ce site Web et vous
	obtenez un avis automatique avec un lien vers la réponse. Tout le monde arrive à voir la correspondance et cette façon, ils n’ont pas 
	besoin de poser la même question encore une fois, et ils peuvent constater que le Gouvernement de la République est Ouvert 
	et Transparent.</li>
	<li><b>classer la réponse : </b>essayez de marquer votre demande afin de montrer si vous êtes satisfait de la réponse, s’il y a des informations
	manquantes, ou si l’information a été refusée.</li>
</ul>
Si vous n’êtes pas satisfait par les informations qui vous sont fournis, ou si vous pensez que vous avez été injustement refusé l’accès aux documents ou parties de documents, vous avez le droit de contester la décision, en faisant un recours gracieux puis recours hiérarchique et enfin recours juridictionnel.
Grâce à <%= site_name %>, vous ne pouvez formuler que le recours gracieux ou hiérarchique. <%= site_name %> vous donne des preuves irréfutables  pour un recours juridictionnel.

  </p>

  
  <dt id="Comment_soumettre">Comment puis-je soumettre un appel ? <a href="#Comment_soumettre">#</a> </dt>

    <dd>
      <p> Tout ce que vous devez faire est répondre à la réponse finale de l’institution en utilisant le 
	  site <%= site_name %>. Assurez-vous que lorsque vous répondez à l’institution, de dire clairement que
	  vous produisez un recours gracieux ou un recours hiérarchique en réponse à la réponse qui vous a été 
	  fournie.  Sous peine d’irrecevabilité, le recours doit se faire dans les 15 jours ouvrables à dater de
	  la notification du refus exprès ou tacite, date et heure du site <%= site_name %> faisant foi.
	  </p>
    </dd>

  <dt id="which_authority"> Que se passe-t-il si je ne suis toujours pas satisfait de la réponse ? <a href="#which_authority">#</a> </dt>

    <dd>
      <p>
	  Si vous n’êtes toujours pas satisfait de l’issue de votre recours gracieux et hiérarchique, vous avez
	  droit de faire un recours juridictionnel auprès d’une chambre administrative de la Cour d’Appel.
	  </p>
    </dd>

    <dt id="missing_body">Le droit d’accéder aux informations mais pas aux documents ?<a href="#missing_body">#</a> </dt>

    <dd>
      <p>La Constitution congolaise en son article 24 al. 24 dit « toute personne a droit à l’information ». 
	  Au terme de la loi sous examen et des autres Instruments internationaux, régionaux dûment ratifiés par
	  la RDC et des autres instruments juridiques en vigueur en RDC, il est attendu par <b>Information : toute 
	  donnée, quel qu’en soit le support ou la forme détenue par le détenteur de l’information.</b> Ce qui 
	  voudrait dire qu’en RDC, l’accès à l’information c’est aussi l’accès au document. (Voir également 
	  l’ordonnance-loi n°78-013 du 11 juillet 1978 portant régime général des archives en son article 23).
      </p>
      <p>Lorsque vous formulez votre demande, donner les précisions sur le document qui contiendrait les
	  informations que vous cherchez. Le fonctionnaire ou le détenteur de l’information <b> n’est pas obligé
	  de créer un nouveau document en réponse à votre demande</b>, mais il doit plutôt vous fournir une copie
	  des documents contenant des informations que vous recherchez.
      </p>

    </dd>

    <dt id="authorities">Comment faire une bonne demande ?  <a href="#authorities">#</a> </dt>

    <dd>
      <p>
	  Une bonne demande est succinct et précis – il suffit de mettre dans votre demande seulement ce qui est
	  nécessaire pour que le détenteur d’information ait la facilité d’identifier les documents qui contiennent
	  les informations que vous demandez. N’oubliez pas, vous avez besoin de demander des documents, non 
	  seulement des informations. 
	  </p>
      <p>
	  Un message court, bien formulé donne aussi des agents publics moins de raisons de rejeter votre demande 
	  au motif qu’il est trop vagues ou ambiguës. Seulement que l’institution a l’obligation de revenir vers
	  vous pour demander les éclaircissements. Vous pouvez demander le même document depuis plus d’un organisme,
	  même s’il est préférable de commencer avec le corps plus susceptible de détenir les informations dont
	  vous avez besoin.
      </p>
	  <p>
	  S’ils ne détiennent pas les documents, ils devraient vous diriger vers les organes compétents.
      </p>
	 <h3>N’OUBLIEZ PAS QUE VOUS N’AVEZ PAS L’OBLIGATION DE JUSTIFIER POURQUOI VOUS DEMANDEZ L’INFORMATION. </h3>
    </dd>

    <dt id="focused">Why must I keep my request focused?<a href="#focused">#</a> </dt>

    <dd>

      <p>
        Please put in your request only what is needed so that someone can
        easily identify what information you are asking for. Please do
        <i>not</i> include any of the following:
      </p>

      <ul>
        <li>arguments about your cause</li>
        <li>statements that could defame or insult others</li>
      </ul>

      <p>
        If you do, we may have to remove your request to avoid problems with
        libel law, which is a pain for both you and us. Short, succinct messages
        make it easier for authorities to be clear what information you are
        requesting, which means you will get a reply more quickly.
      </p>

      <p>
        If you want information to support an argument or campaign, Freedom of
        Information is a powerful tool. Although you may not use this site to
        run your campaign, we encourage you to use it to get the information you
        need. We also encourage to run your campaign elsewhere - one effective
        and very easy way is to <%= link_to 'start your own blog',
          "http://wordpress.com/"%>.
        <% if AlaveteliConfiguration::enable_annotations %>
          You are welcome to link to your campaign from this site in an
          annotation to your request (you can make annotations after submitting
          the request).
        <% end %>
      </p>

    </dd>

    <dt id="fees">Does it cost me anything to make a request?<a href="#fees">#</a> </dt>

    <dd>

      <p>Making an FOI request is nearly always free.</p>

      <p>Authorities often include unnecessary, scary, boilerplate in
        acknowledgement messages saying they "may" charge a fee. Ignore such notices.
        They hardly ever will actually charge a fee.  If they do, they can only charge you if
        you have specifically agreed in advance to pay.  <a
        href="http://www.ico.gov.uk/upload/documents/library/freedom_of_information/practical_application/chargingafee.pdf">More
        details</a> from the Information Commissioner.
      </p>

      <p>Sometimes an authority will refuse your request, saying that the cost
        of handling it exceeds £600 (for central government) or £450 (for all other
        public authorities). At this point you can refine your
        request. e.g. it would be much cheaper for an authority to tell you the amount
        spent on marshmallows in the past year than in the past ten years.
      </p>

    </dd>



    <dt id="quickly_response">How quickly will I get a response? <a href="#quickly_response">#</a> </dt>

    <dd>
      <p>By law, public authorities must respond <strong>promptly</strong> to
        requests.
      </p>

      <p>Even if they are not prompt, in nearly all cases they must respond within
        20 working days. If you had to clarify your request, or they are a school,
        or one or two other cases, then they may have more time
        (<a href="<%= help_officers_path(:anchor => 'days') %>">full details</a>).
      </p>
      <p><%= site_name %> will email you if you don't get a timely response.  You can
        then send the public authority a message to remind them, and tell them if they
        are breaking the law.</p>

    </dd>

    <dt id="no_response">What if I never get a response?<a href="#no_response">#</a> </dt>

    <dd>
      
	  
	  
    </dd>

    <dt id="not_satifised">What if I'm not satisfied with the response? <a href="#not_satifised">#</a> </dt>
    <dd>
	
    </dd>

    <dt id="reuse">It says I can't re-use the information I got!<a href="#reuse">#</a> </dt>
    <dd>
      

      
    </dd>

    <dt id="ico_help">Can you tell me more of the nitty gritty about the process of making requests? <a href="#ico_help">#</a> </dt>

    <dd>
      
	  
    </dd>

    <dt id="data_protection">Puis-je demander des renseignements à mon sujet ? <a href="#data_protection">#</a> </dt>

    <dd>
      <p>La loi vous permet, mais vous ne pouvez pas utiliser <%= site_name %> pour accéder aux informations personnelles 
	  vous concernant. Prière de contacter le Collectif 24 pour qu’il vous donne les orientations sur comment avoir accès aux
	  informations à caractère personnel voir liées à la santé car il a produit un guide pour l’accès à l’information et 
	  protection des données personnelles ; accès à l’information dans le secteur de la santé. </p>
    </dd>


    <dt id="private_requests">Puis-je conserver ma demande confidentielle jusqu'à ce que je libère mon histoire/article ? <a href="#private_requests">#</a> </dt>

    <dd><p><%= site_name %> est destiné aux demandes du public. Toutes les réponses que nous recevons sont automatiquement
	publiées sur le site Web pour que n’importe puisse les lire. Si vous êtes un journaliste, ONG ou toute autre personne 
	qui veut garder la réponse privée jusqu'à ce que vous avez écrit votre histoire ou pour d’autres raisons, mettez-vous 
	en contact avec nous pour vous fournir l’adresse mail de l’Institution et le protocole de confidentialité.

    </dd>

    <dt id="eir">Why can I only request information about the environment from some authorities? <a href="#eir">#</a> </dt>

    <dd>
      <p>Some public authorities, such as <a href="https://www.whatdotheyknow.com/body/south_east_water">South East Water</a>,
        don't come under the Freedom of Information Act, but do come under another law called
        the Environmental Information Regulations (EIR).
      </p>

      <p>It's a very similar law, so you make a request
        to them using <%= site_name %> in just the same way as an FOI request. The only
        difference is that on the page where you write your request, it reminds you
        that you can only request "environmental information" and tells you what that
        means. It is quite broad.
      </p>

      <p>You can, of course, request environmental information from other
        authorities. Just make a Freedom of Information (FOI) request as normal. The
        authority has a duty to work out if the Environmental Information Regulations
        (EIR) is the more appropriate legislation to reply under.
      </p>
    </dd>

    <dt id="multiple">Can I make the same to request to lots of authorities, e.g. all councils? <a href="#multiple">#</a> </dt>

    <dd>We ask you to first send a test version of your request to a few
      authorities. Their responses will help you improve the wording of your request,
      so that you get the best information when you send the request to all of
      the authorities. There is currently no automated system for sending the request
      to the other authorities, you must copy and paste it by hand.

    </dd>

    <dt id="offsite">I made a request off the site, how do I upload it to the archive?<a href="#offsite">#</a> </dt>

    <dd><%= site_name %> is an archive of requests made through the site,
      and does not try to be an archive of all FOI requests. We'll never support uploading
      other requests. For one thing, we wouldn't be able to verify that other
      responses actually came from the authority. If this really matters to you,
      you can always make the same request again via <%= site_name %>.
    </dd>

    <% if AlaveteliConfiguration::enable_annotations %>
      <dt id="moderation">How do you moderate request annotations? <a href="#moderation">#</a> </dt>

      <dd>
        <p>Annotations on <%= site_name %> are to help
          people get the information they want, or to give them pointers to places they
          can go to help them act on it. We reserve the right to remove anything else.
        </p>
        <p>Endless, political discussions are not allowed.
          Post a link to a suitable forum or campaign site elsewhere.</p>
      </dd>
    <% end %>

  </dl>

  <p><strong>Next</strong>, read about <a href="<%= help_privacy_path %>">your privacy</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
